In [2]:
import pandas as pd

In [3]:
df=pd.read_csv(r"C:\Users\dell\Downloads\accenture north america\Reactions.csv")

In [4]:
df

,Unnamed: 0,Content ID,User ID,Type,Datetime
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,NaN,NaN,22-04-2021 15:17
1,1,97522e57-d9ab-4bd6-97bf-c24d952602d2,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,07-11-2020 09:43
2,2,97522e57-d9ab-4bd6-97bf-c24d952602d2,92b87fa5-f271-43e0-af66-84fac21052e6,dislike,17-06-2021 12:22
3,3,97522e57-d9ab-4bd6-97bf-c24d952602d2,163daa38-8b77-48c9-9af6-37a6c1447ac2,scared,18-04-2021 05:13
4,4,97522e57-d9ab-4bd6-97bf-c24d952602d2,34e8add9-0206-47fd-a501-037b994650a2,disgust,06-01-2021 19:13
...,...,...,...,...,...
25548,25548,75d6b589-7fae-4a6d-b0d0-752845150e56,80c9ce48-46f9-4f5e-b3ca-3b698fc2e949,dislike,27-06-2020 09:46
25549,25549,75d6b589-7fae-4a6d-b0d0-752845150e56,2bd9c167-e06c-47c1-a978-3403d6724606,intrigued,16-02-2021 17:17
25550,25550,75d6b589-7fae-4a6d-b0d0-752845150e56,NaN,interested,12-09-2020 03:54
25551,25551,75d6b589-7fae-4a6d-b0d0-752845150e56,5ffd8b51-164e-47e2-885e-8b8c46eb63ed,worried,04-11-2020 20:08
25552,25552,75d6b589-7fae-4a6d-b0d0-752845150e56,4edc3d1a-a7d9-4db6-89c3-f784d9954172,cherish,04-01-2021 04:55

In [5]:
df.isnull().sum()

Unnamed: 0       0
Content ID       0
User ID       3019
Type           980
Datetime         0
dtype: int64

In [6]:
df.shape

(25553, 5)

In [7]:
df.isnull().sum()

Unnamed: 0       0
Content ID       0
User ID       3019
Type           980
Datetime         0
dtype: int64

In [8]:
df=df.rename(columns={'Type':'Reaction_Type'})
df=df.drop(columns=['Unnamed: 0'],axis=1)

In [9]:
df

,Content ID,User ID,Reaction_Type,Datetime
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,NaN,NaN,22-04-2021 15:17
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,07-11-2020 09:43
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,92b87fa5-f271-43e0-af66-84fac21052e6,dislike,17-06-2021 12:22
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,163daa38-8b77-48c9-9af6-37a6c1447ac2,scared,18-04-2021 05:13
4,97522e57-d9ab-4bd6-97bf-c24d952602d2,34e8add9-0206-47fd-a501-037b994650a2,disgust,06-01-2021 19:13
...,...,...,...,...
25548,75d6b589-7fae-4a6d-b0d0-752845150e56,80c9ce48-46f9-4f5e-b3ca-3b698fc2e949,dislike,27-06-2020 09:46
25549,75d6b589-7fae-4a6d-b0d0-752845150e56,2bd9c167-e06c-47c1-a978-3403d6724606,intrigued,16-02-2021 17:17
25550,75d6b589-7fae-4a6d-b0d0-752845150e56,NaN,interested,12-09-2020 03:54
25551,75d6b589-7fae-4a6d-b0d0-752845150e56,5ffd8b51-164e-47e2-885e-8b8c46eb63ed,worried,04-11-2020 20:08
25552,75d6b589-7fae-4a6d-b0d0-752845150e56,4edc3d1a-a7d9-4db6-89c3-f784d9954172,cherish,04-01-2021 04:55

In [10]:
df

,Content ID,User ID,Reaction_Type,Datetime
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,NaN,NaN,22-04-2021 15:17
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,07-11-2020 09:43
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,92b87fa5-f271-43e0-af66-84fac21052e6,dislike,17-06-2021 12:22
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,163daa38-8b77-48c9-9af6-37a6c1447ac2,scared,18-04-2021 05:13
4,97522e57-d9ab-4bd6-97bf-c24d952602d2,34e8add9-0206-47fd-a501-037b994650a2,disgust,06-01-2021 19:13
...,...,...,...,...
25548,75d6b589-7fae-4a6d-b0d0-752845150e56,80c9ce48-46f9-4f5e-b3ca-3b698fc2e949,dislike,27-06-2020 09:46
25549,75d6b589-7fae-4a6d-b0d0-752845150e56,2bd9c167-e06c-47c1-a978-3403d6724606,intrigued,16-02-2021 17:17
25550,75d6b589-7fae-4a6d-b0d0-752845150e56,NaN,interested,12-09-2020 03:54
25551,75d6b589-7fae-4a6d-b0d0-752845150e56,5ffd8b51-164e-47e2-885e-8b8c46eb63ed,worried,04-11-2020 20:08
25552,75d6b589-7fae-4a6d-b0d0-752845150e56,4edc3d1a-a7d9-4db6-89c3-f784d9954172,cherish,04-01-2021 04:55

In [11]:
df.drop(columns=['User ID'],inplace=True)

In [12]:
df['Datetime'] = pd.to_datetime(df['Datetime'], format='%d-%m-%Y %H:%M')

In [13]:
df

                                 Content ID Reaction_Type            Datetime
0      97522e57-d9ab-4bd6-97bf-c24d952602d2           NaN 2021-04-22 15:17:00
1      97522e57-d9ab-4bd6-97bf-c24d952602d2       disgust 2020-11-07 09:43:00
2      97522e57-d9ab-4bd6-97bf-c24d952602d2       dislike 2021-06-17 12:22:00
3      97522e57-d9ab-4bd6-97bf-c24d952602d2        scared 2021-04-18 05:13:00
4      97522e57-d9ab-4bd6-97bf-c24d952602d2       disgust 2021-01-06 19:13:00
...                                     ...           ...                 ...
25548  75d6b589-7fae-4a6d-b0d0-752845150e56       dislike 2020-06-27 09:46:00
25549  75d6b589-7fae-4a6d-b0d0-752845150e56     intrigued 2021-02-16 17:17:00
25550  75d6b589-7fae-4a6d-b0d0-752845150e56    interested 2020-09-12 03:54:00
25551  75d6b589-7fae-4a6d-b0d0-752845150e56       worried 2020-11-04 20:08:00
25552  75d6b589-7fae-4a6d-b0d0-752845150e56       cherish 2021-01-04 04:55:00

[25553 rows x 3 columns]

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25553 entries, 0 to 25552
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Content ID     25553 non-null  object
 1   Reaction_Type  24573 non-null  object
 2   Datetime       25553 non-null  datetime64[ns]
dtypes: datetime64[ns](1), object(2)
memory usage: 599.0+ KB

In [15]:
df.to_csv("cleaned_dataset_Reaction.csv", index=False)

In [16]:
data=pd.read_csv(r"C:\Users\dell\Downloads\accenture north america\Content.csv")

In [17]:
data

,Unnamed: 0,Content ID,User ID,Type,Category,URL
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...
1,1,9f737e0a-3cdd-4d29-9d24-753f4e3be810,beb1f34e-7870-46d6-9fc7-2e12eb83ce43,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/9f7...
2,2,230c4e4d-70c3-461d-b42c-ec09396efb3f,a5c65404-5894-4b87-82f2-d787cbee86b4,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/230...
3,3,356fff80-da4d-4785-9f43-bc1261031dc6,9fb4ce88-fac1-406c-8544-1a899cee7aaf,photo,technology,https://socialbuzz.cdn.com/content/storage/356...
4,4,01ab84dd-6364-4236-abbb-3f237db77180,e206e31b-5f85-4964-b6ea-d7ee5324def1,video,food,https://socialbuzz.cdn.com/content/storage/01a...
...,...,...,...,...,...,...
995,995,b4cef9ef-627b-41d7-a051-5961b0204ebb,5b62e10e-3c19-4d28-a57c-e9bdc3d6758d,video,public speaking,NaN
996,996,7a79f4e4-3b7d-44dc-bdef-bc990740252c,4fe420fa-a193-4408-bd5d-62a020233609,GIF,technology,https://socialbuzz.cdn.com/content/storage/7a7...
997,997,435007a5-6261-4d8b-b0a4-55fdc189754b,35d6a1f3-e358-4d4b-8074-05f3b7f35c2a,audio,veganism,https://socialbuzz.cdn.com/content/storage/435...
998,998,4e4c9690-c013-4ee7-9e66-943d8cbd27b7,b9bcd994-f000-4f6b-87fc-caae08acfaa1,GIF,culture,https://socialbuzz.cdn.com/content/storage/4e4...
999,999,75d6b589-7fae-4a6d-b0d0-752845150e56,b8c653b5-0118-4d7e-9bde-07c2de90f0ff,audio,technology,https://socialbuzz.cdn.com/content/storage/75d...

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1000 non-null   int64
 1   Content ID  1000 non-null   object
 2   User ID     1000 non-null   object
 3   Type        1000 non-null   object
 4   Category    1000 non-null   object
 5   URL         801 non-null    object
dtypes: int64(1), object(5)
memory usage: 47.0+ KB

In [19]:
data.isnull().sum()

Unnamed: 0      0
Content ID      0
User ID         0
Type            0
Category        0
URL           199
dtype: int64

In [20]:

data.drop(columns=['User ID'],inplace=True)

In [21]:
data

,Unnamed: 0,Content ID,Type,Category,URL
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...
1,1,9f737e0a-3cdd-4d29-9d24-753f4e3be810,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/9f7...
2,2,230c4e4d-70c3-461d-b42c-ec09396efb3f,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/230...
3,3,356fff80-da4d-4785-9f43-bc1261031dc6,photo,technology,https://socialbuzz.cdn.com/content/storage/356...
4,4,01ab84dd-6364-4236-abbb-3f237db77180,video,food,https://socialbuzz.cdn.com/content/storage/01a...
...,...,...,...,...,...
995,995,b4cef9ef-627b-41d7-a051-5961b0204ebb,video,public speaking,NaN
996,996,7a79f4e4-3b7d-44dc-bdef-bc990740252c,GIF,technology,https://socialbuzz.cdn.com/content/storage/7a7...
997,997,435007a5-6261-4d8b-b0a4-55fdc189754b,audio,veganism,https://socialbuzz.cdn.com/content/storage/435...
998,998,4e4c9690-c013-4ee7-9e66-943d8cbd27b7,GIF,culture,https://socialbuzz.cdn.com/content/storage/4e4...
999,999,75d6b589-7fae-4a6d-b0d0-752845150e56,audio,technology,https://socialbuzz.cdn.com/content/storage/75d...

In [22]:
data['Category'].unique()

array(['Studying', 'healthy eating', 'technology', 'food', 'cooking',
       'dogs', 'soccer', 'public speaking', 'science', 'tennis', 'travel',
       'fitness', 'education', 'studying', 'veganism', 'Animals',
       'animals', 'culture', '"culture"', 'Fitness', '"studying"',
       'Veganism', '"animals"', 'Travel', '"soccer"', 'Education',
       '"dogs"', 'Technology', 'Soccer', '"tennis"', 'Culture', '"food"',
       'Food', '"technology"', 'Healthy Eating', '"cooking"', 'Science',
       '"public speaking"', '"veganism"', 'Public Speaking', '"science"'],
      dtype=object)

In [23]:
data['Category']=data['Category'].str.replace('"','')

In [24]:
new_data=data.rename(columns={'Type':'Content Type'})

In [25]:
new_data

,Unnamed: 0,Content ID,Content Type,Category,URL
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...
1,1,9f737e0a-3cdd-4d29-9d24-753f4e3be810,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/9f7...
2,2,230c4e4d-70c3-461d-b42c-ec09396efb3f,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/230...
3,3,356fff80-da4d-4785-9f43-bc1261031dc6,photo,technology,https://socialbuzz.cdn.com/content/storage/356...
4,4,01ab84dd-6364-4236-abbb-3f237db77180,video,food,https://socialbuzz.cdn.com/content/storage/01a...
...,...,...,...,...,...
995,995,b4cef9ef-627b-41d7-a051-5961b0204ebb,video,public speaking,NaN
996,996,7a79f4e4-3b7d-44dc-bdef-bc990740252c,GIF,technology,https://socialbuzz.cdn.com/content/storage/7a7...
997,997,435007a5-6261-4d8b-b0a4-55fdc189754b,audio,veganism,https://socialbuzz.cdn.com/content/storage/435...
998,998,4e4c9690-c013-4ee7-9e66-943d8cbd27b7,GIF,culture,https://socialbuzz.cdn.com/content/storage/4e4...
999,999,75d6b589-7fae-4a6d-b0d0-752845150e56,audio,technology,https://socialbuzz.cdn.com/content/storage/75d...

In [26]:
new_data.drop(columns=['URL'],inplace=True)
new_data.drop(columns=['Unnamed: 0'],inplace=True)

In [27]:
new_data

                               Content ID Content Type         Category
0    97522e57-d9ab-4bd6-97bf-c24d952602d2        photo         Studying
1    9f737e0a-3cdd-4d29-9d24-753f4e3be810        photo   healthy eating
2    230c4e4d-70c3-461d-b42c-ec09396efb3f        photo   healthy eating
3    356fff80-da4d-4785-9f43-bc1261031dc6        photo       technology
4    01ab84dd-6364-4236-abbb-3f237db77180        video             food
..                                    ...          ...              ...
995  b4cef9ef-627b-41d7-a051-5961b0204ebb        video  public speaking
996  7a79f4e4-3b7d-44dc-bdef-bc990740252c          GIF       technology
997  435007a5-6261-4d8b-b0a4-55fdc189754b        audio         veganism
998  4e4c9690-c013-4ee7-9e66-943d8cbd27b7          GIF          culture
999  75d6b589-7fae-4a6d-b0d0-752845150e56        audio       technology

[1000 rows x 3 columns]

In [28]:
new_data.to_csv("cleaned_dataset_Reaction1.csv", index=False)

In [29]:
data_reaction_type=pd.read_csv(r"C:\Users\dell\Downloads\accenture north america\ReactionTypes.csv")
data_reaction_type

    Unnamed: 0         Type Sentiment  Score
0            0        heart  positive     60
1            1         want  positive     70
2            2      disgust  negative      0
3            3         hate  negative      5
4            4   interested  positive     30
5            5  indifferent   neutral     20
6            6         love  positive     65
7            7   super love  positive     75
8            8      cherish  positive     70
9            9        adore  positive     72
10          10         like  positive     50
11          11      dislike  negative     10
12          12    intrigued  positive     45
13          13      peeking   neutral     35
14          14       scared  negative     15
15          15      worried  negative     12

In [30]:
 data_reaction_type =  data_reaction_type.drop(['Unnamed: 0'], axis=1)

In [31]:
data_reaction_type

           Type Sentiment  Score
0         heart  positive     60
1          want  positive     70
2       disgust  negative      0
3          hate  negative      5
4    interested  positive     30
5   indifferent   neutral     20
6          love  positive     65
7    super love  positive     75
8       cherish  positive     70
9         adore  positive     72
10         like  positive     50
11      dislike  negative     10
12    intrigued  positive     45
13      peeking   neutral     35
14       scared  negative     15
15      worried  negative     12

In [32]:
data_reaction_type=data_reaction_type.rename(columns={'Type':'Reaction_Type'})

In [33]:
data_reaction_type

   Reaction_Type Sentiment  Score
0          heart  positive     60
1           want  positive     70
2        disgust  negative      0
3           hate  negative      5
4     interested  positive     30
5    indifferent   neutral     20
6           love  positive     65
7     super love  positive     75
8        cherish  positive     70
9          adore  positive     72
10          like  positive     50
11       dislike  negative     10
12     intrigued  positive     45
13       peeking   neutral     35
14        scared  negative     15
15       worried  negative     12

In [34]:
print(df.columns)  #reaction
print(new_data.columns) #content
print(data_reaction_type.columns)

Index(['Content ID', 'Reaction_Type', 'Datetime'], dtype='object')
Index(['Content ID', 'Content Type', 'Category'], dtype='object')
Index(['Reaction_Type', 'Sentiment', 'Score'], dtype='object')

In [35]:
print(df.columns)
print(new_data.columns)
# Merge the two DataFrames on 'Content ID'
merged_df = df.merge(new_data[['Content ID', 'Content Type', 'Category']], on='Content ID', how='inner')

# Print the merged DataFrame
merged_df

Index(['Content ID', 'Reaction_Type', 'Datetime'], dtype='object')
Index(['Content ID', 'Content Type', 'Category'], dtype='object')

,Content ID,Reaction_Type,Datetime,Content Type,Category
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,NaN,2021-04-22 15:17:00,photo,Studying
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2020-11-07 09:43:00,photo,Studying
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,dislike,2021-06-17 12:22:00,photo,Studying
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,scared,2021-04-18 05:13:00,photo,Studying
4,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2021-01-06 19:13:00,photo,Studying
...,...,...,...,...,...
25548,75d6b589-7fae-4a6d-b0d0-752845150e56,dislike,2020-06-27 09:46:00,audio,technology
25549,75d6b589-7fae-4a6d-b0d0-752845150e56,intrigued,2021-02-16 17:17:00,audio,technology
25550,75d6b589-7fae-4a6d-b0d0-752845150e56,interested,2020-09-12 03:54:00,audio,technology
25551,75d6b589-7fae-4a6d-b0d0-752845150e56,worried,2020-11-04 20:08:00,audio,technology
25552,75d6b589-7fae-4a6d-b0d0-752845150e56,cherish,2021-01-04 04:55:00,audio,technology

In [36]:
merged_df.columns

Index(['Content ID', 'Reaction_Type', 'Datetime', 'Content Type', 'Category'], dtype='object')

In [37]:
final_merged_df = merged_df.merge(data_reaction_type, on='Reaction_Type', how='inner')

In [38]:
final_merged_df

,Content ID,Reaction_Type,Datetime,Content Type,Category,Sentiment,Score
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2020-11-07 09:43:00,photo,Studying,negative,0
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2021-01-06 19:13:00,photo,Studying,negative,0
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2021-04-09 02:46:00,photo,Studying,negative,0
3,9f737e0a-3cdd-4d29-9d24-753f4e3be810,disgust,2021-03-28 21:15:00,photo,healthy eating,negative,0
4,230c4e4d-70c3-461d-b42c-ec09396efb3f,disgust,2020-08-04 05:40:00,photo,healthy eating,negative,0
...,...,...,...,...,...,...,...
24568,435007a5-6261-4d8b-b0a4-55fdc189754b,adore,2020-10-04 22:26:00,audio,veganism,positive,72
24569,435007a5-6261-4d8b-b0a4-55fdc189754b,adore,2020-09-18 10:50:00,audio,veganism,positive,72
24570,4e4c9690-c013-4ee7-9e66-943d8cbd27b7,adore,2020-10-31 03:58:00,GIF,culture,positive,72
24571,4e4c9690-c013-4ee7-9e66-943d8cbd27b7,adore,2020-06-25 15:12:00,GIF,culture,positive,72
24572,4e4c9690-c013-4ee7-9e66-943d8cbd27b7,adore,2020-12-17 16:32:00,GIF,culture,positive,72

In [39]:

# Calculate total scores for each category
category_scores = final_merged_df.groupby('Category')['Score'].sum().reset_index()

# Sort the categories based on total scores in descending order
top_5_categories = category_scores.sort_values(by='Score', ascending=False)

# Print the top 5 performing categories
print(top_5_categories)

           Category  Score
13          animals  71242
20   healthy eating  69067
25       technology  68521
22          science  66549
15          culture  64952
14          cooking  64756
27           travel  63788
19             food  63172
17        education  56041
23           soccer  55152
24         studying  52928
16             dogs  52511
26           tennis  50339
18          fitness  49835
28         veganism  48975
21  public speaking  47928
3           Fitness   5488
7           Science   4619
0           Animals   3723
4              Food   3504
8            Soccer   2631
1           Culture   1627
2         Education   1395
9          Studying   1341
6   Public Speaking   1336
11           Travel   1092
12         Veganism    644
5    Healthy Eating    272
10       Technology    217

In [94]:
# Save the cleaned dataset to a CSV file
final_merged_df.to_csv('cleaned_dataset.csv', index=False)

In [ ]:
top_5_categories.to_csv('top5.csv',index=False)

In [ ]:
!pip install xlsxwriter

In [ ]:
# Create a Pandas Excel writer using XlsxWriter as the engine
with pd.ExcelWriter('result.xlsx', engine='xlsxwriter') as writer:
    # Write the cleaned dataset to a sheet named 'Cleaned Dataset'
    final_df.to_excel(writer, sheet_name='cleaned_dataset', index=False)
    
    # Write the top 5 categories to a sheet named 'Top 5 Categories'
    top_5_categories.to_excel(writer, sheet_name='top5', index=False)